<main>
  <app-aside-menu-mobile></app-aside-menu-mobile>
  <section>
    <article>
      <h1>Kim jesteśmy?</h1>
      <p>Nasza firma od dłuższego czasu jest w bliskich relacjach z muzyką. Każdy z twórców tej aplikacji przeszedł po
        różnych szczeblach kariery muzycznej. Dzięki tak wielkiemu doświadczeniu i wiedzy o problemach napotykających
        początkująych artystów, wyszliśmy z inicjatywą pomocy młodym muzykom. Dzięki naszej stronie możesz w szybkim
        czasie wyszukać interesujących Cię muzyków w wybranym mieście. Życzymy wszystkim powodzenia!</p>
    </article>
  </section>
</main>
